<div class="bi-light border p-2 col-5 offset-1">
    <h4 class="text-secondary">Room - @Room.RoomId</h4>

    <input type="checkbox" @onchange="RoomCheckBoxSelectionChanged" />


    @Room.Name <br />
    @Room.Price.ToString("c")<br />
    <input type="checkbox" @bind-value="Room.IsActive" checked="@(Room.IsActive?"checked":null)" /> &nbsp; Is Active<br />
    <span>This room is @(Room.IsActive?"Active":"Inactive")</span>

    @if (Room.IsActive)
    {
        @foreach (var prop in Room.RoomProperties)
        {
            <p>@prop.Name - @prop.Value</p>
        }
    }

    <EditDeleteButton IsAdmin="false"></EditDeleteButton>
</div>


@code {

    [Parameter]
    public Room Room { get; set; }

    [Parameter]
    public EventCallback<bool> OnRoomCheckBoxSelection { get; set; }

    //RoomSelectionCounterChanged

    protected async Task RoomCheckBoxSelectionChanged(ChangeEventArgs e)
    {
        await OnRoomCheckBoxSelection.InvokeAsync((bool)e.Value);
    }
}
